@charset "UTF-8";
@font-face {
    font-family: "Zitter";
    src: url(/font/zitterregular-51jza.otf);
    font-style: normal;
    font-weight: 400;
}
body{
    background: linear-gradient(to bottom right, #FAADF2 7%, #FFF 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #FAADF2 7%, #FFF 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #FAADF2 7%, #FFF 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #FAADF2 7%, #FFF 50%) top right / 50% 50% no-repeat;
}
header{
    background-color: #FFE6FF;
    width: 100%;
    border-radius: 10px;
    border: 10px;
    box-sizing: border-box;
}
nav ul li {
    display: inline;
    flex-direction: row;
    justify-content: space-between;
}
.botonera{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between;
    margin: 0px 65px;
    align-items: center;
    height: 90px;
}
.botonera a{
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;  
    font-size: 1em;
    color: #005B60;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #C077BA;
    border-radius: 20px;
    margin: 5px;
}
.botonera a:hover{ 
    color: #C077BA;
}
.botonera a:active{
    color: #C077BA;
}
nav ul{
    display: block;
    justify-content: space-around;
}
.destello_nav{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.destello_nav a{
    border: 0px;
    padding: 5px;
    align-content: center;
}
.destello_nav h5{
    font-family: "Zitter";
    font-size: 2em;
    color: #005B60;
    align-content: center;
}
/*FIN DE NAVEGADOR*/
h1{
    font-family: "Zitter", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #005B60;
    font-size: 4.4em;
    margin: 0px 10px;
}
.secciones{
    display: flex;
    width: 891px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    row-gap: 25px;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 10px 170px;
}
.titulo{
    display: inline-flex;
    gap: 170px;
    align-items: center;
    margin: 10px;
}
.texto{
    display: flex;
    padding: 15px;
    justify-content: start;
    align-items: flex-start;
    border: 2px solid #005B60;
    border-radius: 30px;
}
.datos{
    display: flex;
    width: 350px;
    padding: 15px 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid #005B60;
    border-radius: 30px;
}
.experiencia{
    display: flex;
    padding: 15px;
    justify-content: start;
    align-items: flex-start;
    border: 2px solid #005B60;
    border-radius: 30px;
}
.habilidades{
    display: flex;
    width: 350px;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    border: 2px solid #005B60;
    border-radius: 30px;
}
.habilidades ul li{
    display: inline-flex;
}
.habilidades ul{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    align-self: stretch;
}
.fotocami img{
    display: flex;
    border-radius: 40px;
    position: relative;
    left: 1250px;
    bottom: 775px;
}
.cami{
    height: 10px;
}
h3{
    color: #C077BA;
    font-family: "Montserrat";
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: flex-start;
}
p{
    color: #005B60;
    font-family: "Montserrat";
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
h4{
    color: #005B60;
    font-family: "Montserrat";
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
/*FIN DE SECCIONES*/
.titulos{
    display: inline-flex;
    align-items: center;
    margin: 50px 100px 0px;
}
.destellogiro{
    animation: giroinf 2.5s linear infinite;
}

@keyframes giroinf {
    0% {
        transform: rotate(0deg);
}
    100% {
        transform: rotate(360deg);
}
}
h2{
    font-family: "Zitter";
    font-size: 2.5em;
    color: #005B60;
    align-content: center;
}
/*inicio del slider infinito*/ /*todavia no me sale infinito*/
.slider{
    overflow: hidden;
}
.slide{
    display: flex;
}
.slider .slide-track{
    animation: scroll 50s linear infinite;
    width:(calc (760px * 28)); /*calcular operacion*/
}
@keyframes scroll { /*permite animar*/
    0%{
        -webkit-transform: translateX(0);
        transform: translatex(0) ;
    }
    100%{
        -webkit-transform: translate(calc(-760px * 14));
        transform: translatex(calc(-760px * 14));
    }
}
/*fin de michis*/
.cardcontenedor{
    display: flex;
    justify-content: center;
    gap: 35px;
    margin: 25px 5px;
}
.card {
    position: relative;
    width: 893px;
    height: 670px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card img {
    width: 893px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card:hover img {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
    opacity: 80%;
}
.card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    transform: rotateX(-90deg);
    transform-origin: bottom;
}
.card:hover .card__content {
    transform: rotateX(0deg);
}
.card__title {
    display: flex;
    justify-content: center;
    padding: 15px;
    font-size: 1.5em;
    color: #005B60;
    font-weight: 700;
    align-content: center;
}
.card a{
    text-decoration: none;
}
/*fin de cards proyectos*/
/*formulario*/
.contenedorinput{
    display: flex;
    height: 106px;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.comentarioad{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    border: 30px;
}
.input-group {
    position: relative;
}
.input {
    padding: 20px;
    border: solid 1.5px #C077BA;
    border-radius: 30px;
    background: none;
    padding: 1rem;
    font-size: 1rem;
    color: #005B60;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    font-family: "Montserrat";
    font-size: 1em;
    font-style: normal;
    font-weight: 500;
    position: absolute;
    left: 15px;
    color: #005B60;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
.input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.8);
    padding: 5px;
    background-color: #C077BA;
    border-radius: 10px;
    color:#005B60;
}
.input:focus, input:valid {
    outline: none;
    border: 1.5px solid #005B60;
}
.form{
    display: flex;
    justify-content: center;
}
/*boton enviar*/ 
.enviar{
    display: flex;
    justify-content: center;
}
button {
    font-family: "Montserrat";
    font-size: 20px;
    background:#005B60;
    color:#FAADF2;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 30px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}
button span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}
button img {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}
button:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}
button:hover img {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}
button:hover span {
    transform: translateX(5em);
}

button:active {
    transform: scale(0.95);
}
@keyframes fly-1 {
    from {
    transform: translateY(0.1em);
    }
to {
    transform: translateY(-0.1em);
    }
}

/*fin de boton*/
/*Inicio de footer*/
footer{
    display: flex;
    width: 100%;
    background-color: #FAADF2;
    justify-content: space-between;
    padding: 0px 40px;
    margin-top: 10px;
    align-items: center;
    box-sizing: border-box;
    border-radius: 15px;
}
footer h3{
    font-family: "Zitter";
    font-size: 2em;
    color: #005B60;
    align-content: center;
    margin: 10px;
}
.portfolio{
    display:flex;
    flex-direction: column;
}
.portfolio ul{
    color: #005B60;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0px;
    list-style: none;
}
.redes h4{
    font-size: 1.3em;
    color: #005B60;
}
.redes ul{
    display: flex;
    gap: 15px;
    align-items: center;
    padding: 0px;
    list-style: none;
}
.flecha{
    display: flex;
    width: 90%;
    margin: 50px;
    justify-content: flex-end;
}
.destsinfondo{
    display: flex;
    margin: 5px 40px;
    width: 20%;
    animation: giroinf 2.5s linear infinite;
}
@keyframes giroinf {
    0% {
        transform: rotate(0deg);
}
    100% {
        transform: rotate(360deg);
}
}
/*FOTORAMA*/
.galeria{
    display: flex;
    justify-content: center;
    gap: 25px 65px;
    flex-wrap: wrap;
}
.galeria img{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.descripcion{
    display: inline-flex;
    align-items: center;
    gap: 335px;
}
.descripcion p{
    color: #005B60;
    font-family: Montserrat;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
/*footer form*/
.fixed{
    position: fixed;
    bottom: 0px;
}
/*proyectos*/
.textoproyecto{
    display: flex;
    width: 1355px;
    height: 426px;
    align-items: center;
    align-content: flex-end;
    column-gap: 335px;
    font-size: 1.4em;
}
.proyecto{
    display: flex;
    justify-content: center;
}



/*FIN, gracias por ver*/
